<hr>
user::positions#new


<h2>Add positions to your profile:</h2>

<%= form_for current_user do |f| %>
  <%= f.fields_for :positions_users do |pu| %>
      <%= pu.check_box :position_id, {id: "position_id#{pu.object.position.id}"}, pu.object.position.id, nil %>
      <%= pu.label :name, pu.object.position.name %>
      <%= pu.label :skill_level %>
      <%= pu.number_field :skill_level %><br>
    <% end %>
  <%= f.submit "Add Position(s)" %>
<% end %>


<!-- need to remove checkboxes?  form class shows as edit, not new -->
